.nameAndStack {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.navText {
    padding: 10px;
    background-color: purple;
}

.navBrand {
    max-height: 2.3rem !important;
    border-radius: 25px;
}
